<!-- there in the extends functions. -->
{% extends "base.html" %}

{% block body %}





<!-- Header-->
<header class="bg-success py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">{{category}}  </h1>

            <!-- === typeit===    -->
            <div class="lead fw-normal text-white-50 mb-0">
                <p id="multipleStrings">  Wellcome to {{category}}.</p>

            </div>
        </div>
    </div>
</header>



<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% if products %}
            {%for product in products%}

            <!-- =============> sales! <=========== -->
            {% if product.is_sale%}


            <div class="col mb-5">
                <div class="card h-100">

                    <div class="badge bg-warning text-dark position-absolute" style="top: 0.5rem; right: 0.5rem">Sale!</div>
                    <!-- Product image-->

                    <img class="card-img-top" src="{{product.image.url}}" />

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            In {{product.category}}
                            <h5 class="fw-bolder">{{product.name|slice:':18'}}</h5>





                            <!-- Product price-->

                            <strike>
                                ${{product.price}}
                            </strike>

                            &nbsp;<!-- this is space between two price-->
                            ${{product.sale_price}}

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" style="margin-right:10px;" href=" {% url 'product' product.id %} ">View </a>
                            <a class="btn btn-outline-dark mt-auto" href="#">Cart</a>
                        </div>
                    </div>
                </div>
            </div>

            {% else %}




            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{product.image.url}}" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            In {{product.category}}
                            <h5 class="fw-bolder">{{product.name|slice:':18'}}</h5>
                            <!-- Product price-->
                            ${{product.price}}


                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" style="margin-right:10px;" href="{% url 'product' product.id %}">View </a>
                            <a class="btn btn-outline-dark mt-auto" href="#">Cart</a>
                        </div>
                    </div>
                </div>
            </div>



            {%endif%}
            {%endfor%}
            {% else %}
        </div>
        <center>
            <h1 style="font-family: Georgia, serif; ">This Category products is not available!</h1><br />
            <h5>Choice another Category , Happy Shopping!</h5>

        </center>
        {% endif %}
    </div>
</section>


<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


{% endblock body %}