{% extends "shop/basic.html" %} 


{%block title%} CheckOut of E-com {%endblock%}



{%block navber%} 

<button class="btn btn-primary btn-sm" type="button" disabled>
  <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
  <span role="status">carting...</span>
</button>







{%endblock%}




{%block body%}


<div class="alert alert-info alert-dismissible fade show" role="alert">
  <strong>Welcome to the E-commarce CheckOut of E-com place!</strong> see CheckOut of E-com Us , Good day to You!.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<br>



<center>
  <h2> Welcome to Our Cart of E-com Page !</h2>
</center>














{%endblock%}

