{% extends "shop/basic.html" %} 


{%block title%} Tracking of E-com {%endblock%}





{%block body%}


<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Welcome to the E-commarce Tracker product of E-com place!</strong> see Tracking of E-com  , Good day to You!.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<br>



<center>
  <h2> Welcome to Our Tracking product of E-com Page !</h2>
</center>














{%endblock%}

