{% extends "shop/basic.html" %} 


{%block title%} About {%endblock%}

{%block css%}

body{
  background-color:gray;
}

{%endblock%}



{% comment %} {%block css%}
<style>
  .body{
    background-color:pink;
  }

</style>
{%endblock%} {% endcomment %}



{%block body%}

{% comment %} 
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Welcome to the E-commarce About place!</strong> see About Us , Good day to You!.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<br>
 {% endcomment %}
<br>

<center>
  <h2 style="color:white;"> Welcome to Cart Page !</h2>
</center>














{%endblock%}

