{% extends "shop/basic.html" %} 


{%block title%} {{product.product_name}} {%endblock%}

{% block css %} 
body{
  background-color:gray;
}






{%endblock%}






{%block body%}


 <br>







<div class="container">
 



    <div style="border:border: 2px dotted #3498db;" class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
      
        <div class="d-flex">
         <div>
          <h3> " {{product.product_name}} "</h3> 
          <br>
          <div class="container">
          <img src="{{product.image.url}}">
          </div>
          <div class="d-flex mt-5 "><h2 style="margin-right: 2rem">BDT. {{product.price}}Tk</h2>
          <p class="lead mb-0"><button id="Prdct no: {{ product.id }}" class="btn btn-info cart" style="margin-right: 0.1rem; cursor: pointer";>Add to Cart</button></p></div>
          <br>
          <br>
         </div>
        </div>
         <div>
            <h3 style=" font-family:Monaco;">Descriptions : </h3>
          <p class="lead my-2" style="font-family:Monaco;">{{product.desc}}</p>
        
    
        </div>
    
      </div>
    
    
    
    
    
    
    
    
    
    </div>
    




{%endblock%}