<!doctype html>
<html lang="ar" dir="ltr"> <!-- Change 'dir' attribute to 'ltr' -->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS - Use the LTR version -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv" crossorigin="anonymous">
    <title>{%block title%} {%endblock%}</title>
</head>
<style>
  .button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }

  
{% block css %} 



{%endblock%}



</style>

<body>
   <!--========================================================================== Navbar =================================================================-->


   <div class="container">  </div>

    <nav class="navbar navbar-expand-lg navbar-dark  bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <form action="/" method="get"><button class="button"> <span class="button-content">E-com.in</span></button></form>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>




          

          

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <form action="/" method="get"><button class="btn btn-outline-info btn-sm"style="margin-right: 0.2rem;" >Home</button></form>
              </li>
              
             
              <li class="nav-item">
                <form action="/prodviews" method="get"><button class="btn btn-outline-info btn-sm" style="margin-right: 0.2rem;">Product list</button></form>
              </li>
              {% comment %} <li class="nav-item">
                <form action="/about" method="get"><button class="btn btn-outline-info" style="margin-right: 0.2rem;">Categories</button></form>
              </li>
               {% endcomment %}
              
              <li class="nav-item">
                <form action="/tracker" method="get"><button class="btn btn-outline-info btn-sm" style="margin-right: 0.2rem;">Tracking status</button></form>
              </li>
              
              
              <li class="nav-item">
                <form action="/contract" method="get"><button class="btn btn-outline-info btn-sm" style="margin-right: 0.2rem;">Contract</button></form>
              </li>
              <li class="nav-item">
                <form action="/about" method="get"><button class="btn btn-outline-info btn-sm" style="margin-right: 0.2rem;">About Us</button></form>
              </li>

             

              <li class="nav-item">
                <form action="/cheackout" method="get"><button class="btn btn-outline-info btn-sm" style="margin-right: 0.2rem;">Checkout</button></form>
              </li>


              
                  
              
            
            </ul>
            
    


           <form class="d-flex" role="search">
              <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success btn-sm" type="submit">Search</button>
            </form>
            
          <form action="/cart" method="get">
            <button type="button" class="btn btn-warning" style="margin-left: 0.2rem;">cart</button>
                                                                
           
          </form>
          </div>
        </div>
      </nav>


 {%block body%} {%endblock%}



 {% comment %}

        <!-- ================================================= alert ==============================================================-->
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Welcome to the E-commarce market place!</strong> see the Product whitch you like! Order fast!.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>






            <br>

            

            <center>
                <h2> Welcome to About of shop</h2>
            </center>
                {% load static %}


        
            
                <a href="{% static 'shop/mystaticshop.html' %}"><button class="btn btn-outline-primary">click static txt</button></a>   <!-- ei kane static folder theke file open kora oise -->
{% endcomment %}
    
   
   
   
   
    
    
    
    















    <!-- Optional JavaScript -->
    <!-- Keep the same JavaScript imports as they are -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>


  



         <!-- this is the jquery link. don't remove this...  -->

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"> </script> 
        <script>
          $('#popcart').popover()
        </script>          
        
        

        {%block js%}
   
        {%endblock%}


       
</body>

</html>