{% extends "shop/basic.html" %} 


{%block title%} Product List {%endblock%}





{%block body%}


<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Welcome to the E-commarce Product List place!</strong> see Product List Us , Good day to You!.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<br>



<center>
  <h2> Welcome to Our Product List Page !</h2>
</center>















<div class="container">

  

    <h3 class="colr">Product list ; </h3>
        <ul class="colr">
                {% for product in products %}
             
            <h4>
                    <li>{{ product.product_name }} - {{ product.price }}$ </li>
                {% endfor %}
            
        </ul>




</div>




{%endblock%}


   
    
    
    
    












\